body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 4px solid #c5c3c3;
  width: 235px;
  background-color: #fcf9f9;
}

h2 {
  font-size: 23px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid #d1cece;
}

li {
  font-size: 15px;
  padding: 13px 93px 13px 23px;
}

ul {
  padding: 0;
}

.dash {
  margin-left: 20px;
  margin-top: 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 77px;
  color: #fff;
  background-color: #ee055e;
  border-bottom: 4px solid #d1cece;
}

svg {
  padding-right: 12px;
}

.user {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 53px 13px 43px;
}

@media (min-width: 200px) {
  .navbar {
    display: none;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 4px solid #c5c3c3;
    width: 235px;
    background-color: #fcf9f9;
  }
}

@media (min-width: 650px) {
  .navbar {
    display: none;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 4px solid #c5c3c3;
    width: 235px;
    background-color: #fcf9f9;
  }
}

@media (min-width: 900px) {
  .navbar {
    display: block;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 4px solid #c5c3c3;
    width: 235px;
    background-color: #fcf9f9;
  }
}

@media (min-width: 1440px) {
  .navbar {
    display: block;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 4px solid #c5c3c3;
    width: 235px;
    background-color: #fcf9f9;
  }
}

.main_used {
  text-align: end;
}

.main_gb {
  text-align: end;
  border: 0;
  font-size: 30px;
  padding: 0 0 10px 0;
  margin: 0;
}

.dash_main {
  font-size: 23px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid transparent;
}

.main_get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.main p img {
  padding-right: 8px;
  padding-top: 3px;
  width: 14px;
  height: 14px;
}

.main_block {
  margin-top: 30px;
  background-color: #fcf9f9;
  padding: 18px 25px 0px 25px;
  -webkit-box-shadow: 10px 10px 8px -3px #a8a7a7;
          box-shadow: 10px 10px 8px -3px #a8a7a7;
}

.main_block2 {
  margin-top: 65px;
  background-color: #fcf9f9;
  padding: 18px 25px 0px 25px;
  -webkit-box-shadow: 10px 10px 8px -3px #a8a7a7;
          box-shadow: 10px 10px 8px -3px #a8a7a7;
}

.main_block3 {
  margin-top: 77px;
  background-color: #fcf9f9;
  padding: 18px 25px 10px 25px;
  -webkit-box-shadow: 10px 10px 8px -3px #a8a7a7;
          box-shadow: 10px 10px 8px -3px #a8a7a7;
}

p {
  margin: 0;
}

.square_green1 {
  background-color: #0e910e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 73px;
  height: 73px;
  top: 116px;
  border: 3px solid #d1cece;
}

.main_kub {
  height: 45px;
}

.green11 {
  background-color: #0e910e;
}

.orenge22 {
  background-color: #e29505;
}

@media (min-width: 300px) {
  .square_blue3 {
    background-color: #252594;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 506px;
    border: 3px solid #d1cece;
  }
  .square_orenge2 {
    background-color: #e29505;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 314px;
    border: 3px solid #d1cece;
  }
  .square_cherry4 {
    background-color: #ee055e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 704px;
    border: 3px solid #d1cece;
  }
  .main {
    background-color: #eeebeb;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
  }
}

@media (min-width: 800px) {
  .square_blue3 {
    background-color: #252594;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid #d1cece;
  }
  .square_orenge2 {
    background-color: #e29505;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid #d1cece;
  }
  .square_cherry4 {
    background-color: #ee055e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid #d1cece;
  }
  .main {
    background-color: #eeebeb;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
  }
}

@media (min-width: 900px) {
  .square_blue3 {
    background-color: #252594;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid #d1cece;
  }
  .square_orenge2 {
    background-color: #e29505;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid #d1cece;
  }
  .square_cherry4 {
    background-color: #ee055e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid #d1cece;
  }
  .main {
    background-color: #eeebeb;
    margin-left: 239px;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .square_blue3 {
    background-color: #252594;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid #d1cece;
  }
  .square_orenge2 {
    background-color: #e29505;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid #d1cece;
  }
  .square_cherry4 {
    background-color: #ee055e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid #d1cece;
  }
  .main {
    background-color: #eeebeb;
    margin-left: 239px;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
  }
}

.orenge222 {
  background-color: #e29505;
}

.blue33 {
  background-color: #252594;
}

.cherry44 {
  background-color: #ee055e;
}

.grafick {
  padding: 20px;
  width: auto;
  height: 120px;
  border: 3px solid #d1cece;
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}

.main_grafick {
  width: 100%;
  height: 100%;
}

.main_used2 {
  font-size: 20px;
}

.main_get {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 16px;
}

.grafick_blue {
  font-size: 22px;
  color: #fff;
  background-color: #252594;
  padding: 20px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border: 3px solid #d1cece;
}

.new {
  padding-top: 10px;
  font-size: 20px;
}

.main_used3 {
  color: #04a877;
  font-size: 20px;
  padding-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr 1fr;
      grid-template-columns: 1fr 3fr 1fr 1fr;
  padding: 10px 20px;
}

.main_get3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr 1fr;
      grid-template-columns: 1fr 3fr 1fr 1fr;
  padding: 10px 20px;
}

.tabl {
  font-size: 20px;
  color: #fff;
  padding: 30px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  border: 3px solid #d1cece;
}

.tabl_img {
  padding: 30px;
  color: #fff;
  font-size: 20px;
}

.tabl_img:hover {
  padding: 15px 43px;
  color: #fff;
  font-size: 20px;
  background: #eea928;
}

.tabl_img_bugs {
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  background: #eea928;
}

input {
  accent-color: #d4d3d3;
  width: 25px;
  height: 25px;
}

.check {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.futer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 92px 0 45px 15px;
}

.fut {
  color: #000;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.fut a {
  color: #000;
}

.fut2 {
  text-align: end;
}

.main_hr {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  width: 100%;
  position: absolute;
}

.whiteline {
  background-color: transparent;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 200px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .container3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (min-width: 650px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .container3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (min-width: 800px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .container3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .container2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .container3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */