$green: rgb(14, 145, 14);
$orenge: rgb(226, 149, 5);
$blue: rgb(37, 37, 148);
$cherry: rgb(238, 5, 94);
.main{
  background-color: rgb(238, 235, 235);
  margin-left: 239px;
  overflow: hidden;
  padding: 0 40px;
}
.main_used{
  text-align: end;
}
.main_gb{
  text-align: end;
  border: 0;
  font-size: 30px;
  padding: 0 0 10px 0;
  margin: 0;
}
.dash_main{
  font-size: 23px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid transparent;
}
.main_get{
  display: flex;
  padding-bottom: 10px;
}
.main p img{
  padding-right: 8px;
}
.main_block{
  margin-top: 30px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 0px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
.main_block2{
  margin-top: 65px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 0px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
.main_block3{
  margin-top: 65px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 0px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
p{
  margin: 0;
}
.square{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 116px;
  border: 3px solid rgb(209, 206, 206);
}
.main_kub{
  height: 45px;
}
.green{
  background-color: $green;
}
.orenge{
  background-color: $orenge;
}
.blue{
  background-color: $blue;
}
.cherry{
  background-color: $cherry;
}
.grafick{
  padding: 20px;
  width: auto;
  height: 120px;
  border: 3px solid rgb(209, 206, 206);
  transform: translateY(-38px);
}
.main_grafick{
  width: 100%;
  height: 100%;
}
.main_used2{
  font-size: 20px;
}
.main_get{
  font-size: 15px;
}
.grafick_blue{
  font-size: 22px;
  color:#fff;
  background-color: $blue;
  padding: 20px;
  transform: translateY(-50px);
  border: 3px solid #d1cece;
}
.new{
  padding-top: 10px;
  font-size: 20px;
}
.main_used3{
  color:rgb(4, 168, 119);
  font-size: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.nameid{
  margin-right: 100px;
}
.namei{
  margin-right: 70px;
}
.main_get3{
  display: flex;
  flex-direction: row;
}
.id{
  padding: 0 40px;
}
.id1{
  margin-left: 37px;
  margin-right: 55px;
}