$green: rgb(14, 145, 14);
$orenge: rgb(226, 149, 5);
$blue: rgb(37, 37, 148);
$cherry: rgb(238, 5, 94);
.main{
  background-color: rgb(238, 235, 235);
  margin-left: 239px;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
}
.main_used{
  text-align: end;
}
.main_gb{
  text-align: end;
  border: 0;
  font-size: 30px;
  padding: 0 0 10px 0;
  margin: 0;
}
.dash_main{
  font-size: 23px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid transparent;
}
.main_get{
  display: flex;
  padding-bottom: 10px;
}
.main p img{
  padding-right: 8px;
  padding-top: 3px;
  width: 14px;
  height: 14px;
}
.main_block{
  margin-top: 30px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 0px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
.main_block2{
  margin-top: 65px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 0px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
.main_block3{
  margin-top: 77px;
  background-color: rgb(252, 249, 249);
  padding: 18px 25px 10px 25px;
  box-shadow: 10px 10px 8px -3px rgb(168, 167, 167);
}
p{
  margin: 0;
}
.square_green1{
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 73px;
  height: 73px;
  top: 116px;
  border: 3px solid rgb(209, 206, 206);
}
.square_orenge2{
  background-color: $orenge;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 73px;
  height: 73px;
  top: 116px;
  border: 3px solid rgb(209, 206, 206);
}
.main_kub{
  height: 45px;
}
.green11{
  background-color: $green;
}
.orenge22{
  background-color: $orenge;
}
@media(min-width:500px){
  .square_blue3{
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
  .square_cherry4{
    background-color: $cherry;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
}
@media(min-width:650px){
  .square_blue3{
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
  .square_cherry4{
    background-color: $cherry;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
}
@media(min-width:800px){
  .square_blue3{
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
  .square_cherry4{
    background-color: $cherry;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 310px;
    border: 3px solid rgb(209, 206, 206);
  }
}
@media(min-width:1440px){
  .square_blue3{
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid rgb(209, 206, 206);
  }
  .square_cherry4{
    background-color: $cherry;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 73px;
    top: 116px;
    border: 3px solid rgb(209, 206, 206);
  }
}
.orenge222{
  background-color: $orenge;
}
.blue33{
  background-color: $blue;
}
.cherry44{
  background-color: $cherry;
}
.grafick{
  padding: 20px;
  width: auto;
  height: 120px;
  border: 3px solid rgb(209, 206, 206);
  transform: translateY(-38px);
}
.main_grafick{
  width: 100%;
  height: 100%;
}
.main_used2{
  font-size: 20px;
}
.main_get{
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 16px;
}
.grafick_blue{
  font-size: 22px;
  color:#fff;
  background-color: $blue;
  padding: 20px;
  transform: translateY(-50px);
  border: 3px solid #d1cece;
}
.new{
  padding-top: 10px;
  font-size: 20px;
}
.main_used3{
  color:rgb(4, 168, 119);
  font-size: 20px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  padding: 10px 20px;
}
.main_get3{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  padding: 10px 20px;
}
.tabl{
  font-size: 20px;
  color: #fff;
  padding: 30px;
  transform: translateY(-50px);
  border: 3px solid #d1cece;
}
.tabl_img{
  padding: 30px;
  color: #fff;
  font-size: 20px;
}
.tabl_img:hover{
  padding: 15px 43px;
  color: #fff;
  font-size: 20px;
  background: rgb(238, 169, 40);
}
.tabl_img_bugs{
  padding: 15px 30px;
  color: #fff;
  font-size: 20px;
  background: rgb(238, 169, 40);
}
input{
  accent-color: rgb(212, 211, 211);
  width: 25px;
  height: 25px;
}
.check{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
}
.images{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.futer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 92px 0 45px 15px;
}
.fut{
  color: #000;
  font-weight: bold;
  display: flex;
  gap: 60px;
}
.fut a{
  color: #000;
}
.fut2{
  text-align: end;
}
.main_hr{
  transform: translateY(50px);
  width: 100%;
  position: absolute;
}
.whiteline{
  background-color: transparent;
}